@use "../Abstracts/variables";

.u-margin-bottom-sm {
  margin-bottom: 4rem;
}
.u-margin-bottom-md {
  margin-bottom: 8rem;
}
.u-margin-bottom-lg {
  margin-bottom: 12rem;
}
.u-margin-bottom-very-lg {
  margin-bottom: 24rem;
}
.u-margin-top-sm {
  margin-top: 2rem;
}
.u-margin-top-ms {
  margin-top: 4rem;
}
.u-margin-top-lg {
  margin-top: 8rem;
}
