@use "../abstracts/utilities";

//Features Sections
.features {
  text-align: center;

  //Feature Images
  &__image {
    max-width: 90%;
  }

  // Features Unique Black Background
  &__bg--black {
    background: url(../../images/bg-pattern-circles.svg),
      linear-gradient(var(--gradient-body));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    border-top-right-radius: 6rem;
    border-bottom-left-radius: 6rem;
    padding: 5rem 1rem;
    position: relative;
    color: var(--white);
    padding-top: 10rem;
  }

  //Features Black Background Absolute Image
  &__image--absolute {
    position: absolute;
    top: -20rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
