@use "../abstracts/utilities";
@use "../Abstracts/mixins" as *;

//Features Sections
.features {
  text-align: center;

  //Feature Images
  &__image {
    max-width: 28rem;
    @include breakpoint(medium) {
      max-width: 44rem;
    }
  }

  // Features Unique Black Background
  &__bg--black {
    background: url(../../images/bg-pattern-circles.svg),
      linear-gradient(var(--gradient-body));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    border-top-right-radius: 6rem;
    border-bottom-left-radius: 6rem;
    padding: 5rem 1rem;
    position: relative;
    color: var(--white);
    padding-top: 10rem;
  }

  //Features Unique Black Absolute Position
  &__image--absolute {
    position: absolute;
    top: -18rem;
    right: 50%;
    left: 50%;
    transform: translate(-50%);
  }

  //Features Unique Black Media Query
  @include breakpoint(medium) {
    &__image--absolute {
      left: 26%;
      top: -8rem;
    }
  }
}
