.card {
  background-color: var(--Very-dark-blackish-blue);
  color: #fff; //Temporary
  width: 30rem;
  border-radius: 0.8rem;
  margin-bottom: 2.4rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
